<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="swissup_gdpr_personal_data_forms_load_before">
        <observer name="swissup_testimonials_register_form" instance="Swissup\GdprTestimonials\Observer\RegisterPersonalDataForm" />
    </event>
    <event name="swissup_gdpr_personal_data_handlers_load_before">
        <observer name="swissup_testimonials_register_handlers" instance="Swissup\GdprTestimonials\Observer\RegisterPersonalDataHandler" />
    </event>
</config>
